body {
    background-color:rgb(180, 176, 176);
    padding-top: 20px;
}

.hide {
    display: none;
}

.btn {
    display: block;
    background-color:rgb(180, 176, 176);
    border: thin; 
}


.container {
max-width: 700px;
margin: auto;
background-color: rgb(153, 153, 220);
text-align: center;
display:block;
}

#number1 {

    font-weight: bold;
}



